.item{
  display: flex;
  align-items: center;

  svg{
    color: white;
    height: 30px;
    width: 30px;
    margin-right: 2rem;
  }

  p{
    color: white;
    font-family: var(--font-family);
    margin-bottom: 0.5rem;
  }
}