.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  svg{
    height: 50px;
    width: 50px;
    color: var(--color-primary);
  }
}

.text{
  font-family: var(--font-heading);
  font-size: 62px;
  margin: 0 2rem;

  h5{
    color: brown;
    margin: 0;
  }
}